# Flutter
build/
*.apk
*.ap_
*.ipa
*.iml
android/
ios/
.dart_tool/
.packages
.pub/
.pub-cache/
.vscode/
*.flutter-plugins
*.flutter-plugins-dependencies
*.flutter-runner
*.flutter-plugins-ios
*.last_build_id
*.xcodeproj/

# Node.js
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
*.log
*.swp
*.swo
*.sqlite
coverage/
dist/
logs/
*.pid
.env
.env.local
.env.test
.env.development.local
.env.production.local
.pnp.*
pnp.js
*.tgz
*.pem

# Golang
*.exe
*.exe~
*.test
*.test.exe
*.prof
*.profdata
*.pprof
/vendor/
/go/pkg/
/go/bin/
/go/src/golang.org/
/go/src/google.golang.org/
/go/src/github.com/golang/
/go/src/github.com/google/
/go/src/github.com/aws/
/go/src/github.com/elastic/
/go/src/github.com/hashicorp/
!go.mod
!go.sum

# Other
.DS_Store
.idea/
.vs/
.project
.cproject
*.pyc
